@model MakiYumpuSAC.Models.Pedido

@{
    ViewData["Title"] = "Detalles de Pedido";
}

<div class="my-3 d-flex justify-content-between align-items-start">
    <h4>Pedido @Html.DisplayFor(model => model.IdPedido)</h4>
    <a class="btn btn-outline-secondary" onclick="window.history.back();">Volver</a>
</div>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha de Solicitud
        </dt>
        <dd class = "col-sm-10">
            @{
                var fechaGeneracion = Model.FechaGeneracionPedido;
                @fechaGeneracion.ToString("dd/MM/yyyy")
            }
        </dd>
        <dt class = "col-sm-2">
            Entrega estimada
        </dt>
        <dd class = "col-sm-10">
            @{
                var fechaEntrega = Model.FechaEntrega;
                @fechaEntrega.ToString("dd/MM/yyyy")
            }
        </dd>
        <dt class = "col-sm-2">
            Estado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPedido)
        </dd>
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.NombreCompletoCliente)
        </dd>
    </dl>
</div>

@if (Model.Activo)
{
    <div class="d-flex justify-content-end align-items-center gap-2">
        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.IdPedido">Actualizar</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
            Eliminar
        </button>
    </div>
}

else
{
    <div class="d-flex justify-content-end align-items-center gap-2">
        <form asp-action="Inactivos">
            <input type="hidden" name="id" value="@Model.IdPedido" />
            <input class="btn btn-outline-success" type="submit" value="Reactivar" />
        </form>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Detalles
            </th>
            <th>
                Cantidad
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetallePedidos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescPrenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetallesPrenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadPrenda)
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar eliminación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Seguro que deseas eliminar el pedido @Html.DisplayFor(model => model.IdPedido)?</p>
                <p>El pedido pasará a inactivo</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <input type="hidden" name="id" value="@Model.IdPedido" />
                    <input type="submit" class="btn btn-danger" value="Eliminar" />
                </form>
            </div>
        </div>
    </div>
</div>