@model MakiYumpuSAC.Models.Pedido

@{
    ViewData["Title"] = "Actualizar Pedido";
    var contadorDetalles = 0;
}

@section Head {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        input[type="date"], select {
            min-width: 250px;
        }

        .td-cantidad {
            width: 15%;
            min-width: 120px;
        }

        .td-desc {
            width: 20%;
            min-width: 150px;
        }
    </style>
}

<h4 class="my-3">Actualizar Pedido @Html.DisplayFor(model => model.IdPedido)</h4>

<form asp-action="Edit">
    <div>
        <dl class="row">
            <dt class = "col-sm-2">
                Fecha de Solicitud
            </dt>
            <dd class = "col-sm-10">
                @{
                    var fechaGeneracion = Model.FechaGeneracionPedido;
                        @fechaGeneracion.ToString("dd/MM/yyyy")
                }
            </dd>
            <dt class = "col-sm-2">
                Entrega estimada
            </dt>
            <dd class = "col-sm-10">
                <input
                    name="pedido.FechaEntrega"
                    id="fecha-entrega"
                    type="date"
                    class="form-control w-25"
                />
            </dd>
            <dt class = "col-sm-2">
                Estado
            </dt>
            <dd class = "col-sm-10">
                <select
                    name="pedido.EstadoPedido"
                    id="select-estados"
                    class="form-control w-25"
                    asp-items="ViewBag.SelectEstados">
                </select>
            </dd>
            <dt class = "col-sm-2">
                Cliente
            </dt>
            <dd class = "col-sm-10">
                <select
                    name="pedido.IdCliente"
                    id="select-clientes"
                    class="form-control w-25"
                    asp-items="ViewBag.IdCliente">
                </select>
            </dd>
        </dl>
    </div>

    <table class="table" id="tabla-detalles">
        <thead>
            <tr>
                <th>
                    Descripción
                </th>
                <th>
                    Detalles
                </th>
                <th>
                    Cantidad
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DetallePedidos)
            {
                <tr>
                    <td class="td-desc">
                        <input
                            name="detalles[@contadorDetalles].DescPrenda"
                            value="@item.DescPrenda"
                            class="form-control"
                        />
                    </td>
                    <td>
                        <input
                            name="detalles[@contadorDetalles].DetallesPrenda"
                            value="@item.DetallesPrenda"
                            class="form-control"
                        />
                    </td>
                    <td class="td-cantidad">
                        <input
                            name="detalles[@contadorDetalles].CantidadPrenda"
                            value="@item.CantidadPrenda"
                            class="form-control"
                            type="number"
                            step="1"
                        />
                    </td>
                    <td style="width: 120px;">
                        <!-- TODO: DETALLES A ELIMINAR -->
                        <button
                            class="btn btn-danger"
                            onclick=""
                            data-id="@item.IdDetPedido">
                            Eliminar
                        </button>
                    </td>
                </tr>

                contadorDetalles++;
            }
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <button id="btn-agregar" class="btn btn-outline-info">Agregar detalle</button>
        </div>
        <div class="d-flex justify-content-end align-items-center gap-2">
            <a class="btn btn-outline-danger" onclick="window.history.back();">Cancelar</a>
            <input class="btn btn-outline-primary" type="submit" value="Guardar cambios" />
        </div>
    </div>
</form>

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar eliminación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Seguro que deseas eliminar el pedido @Html.DisplayFor(model => model.IdPedido)?</p>
                <p>El pedido pasará a inactivo</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <input type="hidden" name="id" value="@Model.IdPedido" />
                    <input type="submit" class="btn btn-danger" value="Eliminar" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            // Setteo de los inputs
            $('#fecha-entrega')
                .attr('min', new Date().toISOString().split('T')[0])
                .val('@Model.FechaEntrega.ToString("yyyy-MM-dd")');

            $("#select-estados")
                .val("@Model.EstadoPedido");

            $("#select-clientes")
                .val("@Model.IdClienteNavigation.IdCliente")
                .select2();

            let contadorDetalles = @Model.DetallePedidos.Count;

            $("#btn-agregar").on("click", () => {
                const detalleNuevo = `
                    <tr>
                        <td class="td-desc">
                            <input
                                name="detalles[${contadorDetalles}].DescPrenda"
                                class="form-control"
                                placeholder="Prenda..."
                            />
                        </td>
                        <td>
                            <input
                                name="detalles[${contadorDetalles}].DetallesPrenda"
                                class="form-control"
                                placeholder="Detalles de la prenda..."
                            />
                        </td>
                        <td class="td-cantidad">
                            <input
                                name="detalles[${contadorDetalles}].CantidadPrenda"
                                class="form-control"
                                placeholder="Cantidad..."
                                type="number"
                                step="1"
                            />
                        </td>
                        <td style="width: 120px;">
                            <button class="btn btn-danger btn-eliminar-nuevo-detalle" type="button">Eliminar</button>
                        </td>
                    </tr>
                `;

                $("#tabla-detalles tbody").append(detalleNuevo);

                contadorDetalles++;
            });

            $(document).on("click", ".btn-eliminar-nuevo-detalle", function () {
                $(this).closest('tr').remove();
            });
        });
    </script>
}