@model IEnumerable<MakiYumpuSAC.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

@section Head {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<h4>Pedidos</h4>

<div class="d-flex justify-content-between align-items-center mb-2">
    <a asp-action="Create">Nuevo Pedido</a>
    <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
        <a class="btn btn-outline-secondary" asp-action="Solicitudes">Solicitudes</a>
        <a class="btn btn-outline-secondary" asp-action="Inactivos">Pedidos Inactivos</a>
    </div>
</div>

<div class="d-flex align-items-center gap-3 mb-2">
    <div class="d-flex align-items-center gap-2 mb-2">
        <label>ID</label>
        <input type="number" step="1" id="id-buscar" placeholder="ID de pedido..." />
    </div>

    <div class="d-flex align-items-center gap-2 mb-2 w-25">
        <label>Clientes</label>
        <select class="w-100" id="select-clientes" asp-items="ViewBag.SelectClientes">
            <option value="Todos">Todos</option>
        </select>
    </div>

    <div class="d-flex align-items-center gap-2 mb-2 w-25">
        <label>Estado</label>
        <select class="w-100" style="height: 28px;" id="select-estados" asp-items="ViewBag.SelectEstados">
        </select>
    </div>
</div>

<table id="tabla-pedidos" class="table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Fecha de Generación
        </th>
        <th>
            Fecha Estimada
        </th>
        <th>
            Estado
        </th>
        <th>
            Cliente
        </th>
        <th>
            Usuario
        </th>
        <th>
            Detalles
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPedido)
        </td>
        <td>
            @{
                var fechaGeneracion = item.FechaGeneracionPedido;
                    @fechaGeneracion.ToString("dd/MM/yyyy")
            }
        </td>
        <td>
            @{
                var fechaEntrega = item.FechaEntrega;
                    @fechaEntrega.ToString("dd/MM/yyyy")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdClienteNavigation.NombreCompletoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.NombresUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetallePedidos.Count)
        </td>
        <td>
            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.IdPedido">Ver detalles</a>
        </td>
    </tr>
}
    </tbody>
    <tfoot>
        <tr id="no-coincidencias" style="display:none;">
            <td colspan="8">No se encontraron coincidencias.</td>
        </tr>
    </tfoot>
</table>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#select-clientes").select2();

            $('#select-clientes').change(function () {
                var selectedClient = $(this).val();

                $('#tabla-pedidos tbody tr').each(function () {
                    var clienteCell = $(this).find('td:nth-child(5)');

                    if (selectedClient === 'Todos' || clienteCell.text().trim() === selectedClient) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            $('#select-estados').change(function () {
                var selectedEstado = $(this).val();
                let noCoincidencias = true;

                $('#tabla-pedidos tbody tr').each(function () {
                    var estadoCell = $(this).find('td:nth-child(4)');

                    if (selectedEstado === 'Todos' || estadoCell.text().trim() === selectedEstado) {
                        $(this).show();
                        noCoincidencias = false;
                    } else {
                        $(this).hide();
                    }
                });

                $("#no-coincidencias").toggle(noCoincidencias);
            });

            $("#id-buscar").on('input', function () {
                let searchID = $(this).val().trim();
                console.log(searchID);

                $('#tabla-pedidos tbody tr').each(function () {
                    let idCell = $(this).find('td:first-child').text();
                    let row = $(this);

                    if (idCell.includes(searchID)) {
                        row.show();
                    } else {
                        row.hide();
                    }

                });
            });
        });
    </script>
}
