@model IEnumerable<MakiYumpuSAC.Models.Pedido>

@{
    ViewData["Title"] = "Solicitudes de Pedidos";
}

<h4>Solicitudes de Pedidos</h4>

<div class="d-flex justify-content-end align-items-center gap-2">
    <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Fecha de Solicitud
            </th>
            <th>
                Cliente
            </th>
            <th>
                Estado
            </th>
            <th>
                Detalles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedido)
            </td>
            <td>
                @{
                    var fechaGeneracion = item.FechaGeneracionPedido;
                    @fechaGeneracion.ToString("dd/MM/yyyy")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.NombreCompletoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetallePedidos.Count)
            </td>
            <td>
                <div class="d-flex align-items-center gap-2">
                    <a class="btn btn-outline-info" asp-action="Revisar" asp-route-id="@item.IdPedido">Revisar</a>
                    <form asp-action="RechazarSolicitud" method="post">
                        <input type="hidden" name="id" value=".@item.IdPedido" />
                        <button class="btn btn-outline-danger" type="submit">Rechazar</button>
                    </form>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
