@model IEnumerable<MakiYumpuSAC.Models.MaterialBase>

@{
    ViewData["Title"] = "Materiales Base Inactivos";
}

<div class="d-flex justify-content-between algin-items-center">
    <h4>Materiales Base Inactivos</h4>
    <a class="btn btn-outline-danger" asp-action="Index">Volver</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Código
            </th>
            <th>
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMaterialBase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescMaterial)
                </td>
                <td>
                    <form asp-action="Reactivar">
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.IdMaterialBase">Detalles</a>
                        <input type="hidden" name="id" value="@item.IdMaterialBase" />
                        <input class="btn btn-outline-success" type="submit" value="Reactivar" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>