@model IEnumerable<MakiYumpuSAC.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h4>Clientes</h4>

<div class="d-flex justify-content-end align-items-center mb-2">
    <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
        <a class="btn btn-outline-secondary" asp-action="Index">Clientes Activos</a>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Nombre Completo
        </th>
        <th>
            Correo
        </th>
        <th>
            País
        </th>
        <th>
            Pedidos
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompletoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaisCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pedidos.Count)
        </td>
        <td>
            <form asp-action="Inactivos" method="post">
                <input type="hidden" name="id" value="@item.IdCliente"/>
                <input class="btn btn-outline-success" type="submit" value="Reactivar"/>
            </form>
        </td>
    </tr>
}
    </tbody>
</table>

@section Scripts {
    <script type="module">
        import toastMessage from '/js/toastMessage.js';

        document.addEventListener("DOMContentLoaded", function () {
            const errorMessage = "@ViewBag.ErrorMessage";
            errorMessage && toastMessage(errorMessage, "error");
            
            const doneMessage = "@ViewBag.DoneMessage";
            doneMessage && toastMessage(doneMessage, "success");
        });
    </script>
}